html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
:focus {
    outline: 0;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
a img, iframe {
    border: none;
}
ol, ul {
    list-style: none;
}
input, textarea, select, button {
    font-size: 100%;
    font-family: inherit;
}
select {
    margin: inherit;
}
/* Fixes incorrect placement of numbers in ol’s in IE6/7 */
ol { margin-left:2em; }
/* == clearFix == */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
.cl { clear: both;}

.fl { float: left; display: inline;}.fr { float: right; display: inline;}


.text-center { text-align: center;}
.text-left { text-align: left !important;}
.text-right { text-align: right !important;}

.btn { display: inline-block; padding: 0 30px; height: 35px; line-height: 35px; text-align: center; color: #fff; border-radius: 4px; text-decoration: none; border-width: 1px;}
.btn-default { color: #444;}
.btn-block { display: block; width: 100%;}
.btn-blue { border: none; background-color: #07b2f3;}
.btn-large { height: 40px; line-height: 40px;}
.btn-blue:hover { background-color: #34c0f5; color: #fff;}
.btn-green-wx { background-color: #6be22b;}
.btn-green-wx:hover { background-color: #5bc023; color: #fff;}
.btn-green { background-color: #78cd51;}
.btn-green:hover { background-color: #57ac30; color: #fff;}
.btn-orange { background-color: #fcaa1b;}
.btn-orange:hover { background-color: #e29103; color: #fff;}

.btn-mini { padding: 0 4px; height: 24px; line-height: 24px;}
.btn-medium { padding: 0 10px; height: 28px; line-height: 28px;}
.btn-gray { background-color: #fafafa; border: 1px #e6e3e3 solid; color: #666;}

.txt { padding: 0 5px; height: 30px; line-height: 30px; border: 1px #ddd solid;}

.pt-10 { padding-top: 10px;}
.p-15 { padding: 15px;}
.p-20 { padding: 20px;} .pl-20 { padding-left: 20px;}
.pb-20 { padding-bottom: 20px;}.pb-30 { padding-bottom: 30px;}
.pr-20 { padding-right: 20px;}
.ml-10 { margin-left: 10px;}.m-15 { margin: 15px;}
.mt-5 { margin-top: 5px;}.mr-20 { margin-right: 20px;}
.error { color: #f00;}

.c_darkBlue { color: #046c97;}
.c_blue { color: #5ac4f1;}
.c_lightGray { color: #ccc;}
.c_red { color: #f00;}
.c_dark { color: #333 !important;}
.c_orange { color: #ff5400;}
.c_green { color: #7ad314;}
.c_gray { color: #999;}

.fz-14 { font-size: 14px;}

a { text-decoration: none;}

.dis-flex { display: flex;}
.msgEx-side {
    margin-right: 20px;
    padding: 18px;
    width: 250px;
    border: 1px #e4e4e4 solid;
    border-radius: 6px;
}
.msgEx-side .title { font-size: 14px; border-bottom: 1px #e4e4e4 solid;}
.msgEx-side .title span { display: inline-block; padding-bottom: 4px; border-bottom: 2px #e4e4e4 solid;}

.msgEx-body-box {
    flex: 1;
    padding: 18px;
    border: 1px #e4e4e4 solid;
    border-radius: 6px;
}

.msgEx-user-list { padding-top: 15px;}
.msgEx-user-list li { padding-bottom: 15px;}
.msgEx-user-list .pic { position: relative; padding-right: 15px; display: table-cell; width: 75px; height: 60px; vertical-align: middle;}
.msgEx-user-list .pic img { border-radius: 50%;width: 60px; height: 60px;}
.msgEx-user-list .cont { display: table-cell; vertical-align: middle;}
.user-flag { position: absolute; bottom: 0px; left: 0; width: 60px; text-align: center; }
.user-flag i {display: inline-block; padding: 0 2px; font-style: normal; border-radius: 4px; background-color: #17aaff; color: #fff; white-space: nowrap;}
.user-flag .facilitator { background-color: #ff6380;}
.user-flag .services { background-color: #f59f18;}

.header .header-msg { position: relative; float: right; margin: 2px 30px 0 15px;padding: 5px 8px 3px;}
.header-msg .new { position: absolute; right: -4px; top: -4px; width: 8px; height: 8px; border-radius: 50%; background-color: #f00;}

/*-----------------------------------------------------------------------------------------*/
html { height: 100%;}
body { height: 100%; font-size: 12px; color: #666; background-color: #e8e8e8; padding: 44px 10px 10px 10px; font-family: ms "microsoft yahei", Arial, Helvetica, sans-serif;}
img { max-width: 100%;}
div.nav { position: fixed;z-index: 2; text-indent: 20px; width: 100%; left: 0; top: 0; height: 34px; line-height: 34px; color: #999; background-color: #fff; border-bottom: 1px #eee solid;}
.icon { display: inline-block; width: 18px; height: 18px; background: url("../images/icon.png") no-repeat; vertical-align: text-bottom;}
.icon-home { width: 16px; height: 16px; background-position: 0 -16px; margin-left: 10px;}

.main { box-sizing: border-box; padding: 0 0 80px; min-height: 100%; background-color: #fff; border-radius: 6px;}
.main-cs { box-sizing: border-box; padding: 20px 20px 80px; border-left: 10px #e8e8e8 solid; border-right: 10px #e8e8e8 solid;  border-top-width: 44px; min-height: 100%; background-color: #fff;}
.m-menu { margin-bottom: 20px; background-color: #6d86a4; border-radius: 6px 6px 0 0;}
.m-menu li { display: inline-block;}
.m-menu li:first-child a { border-radius: 6px 0 0 0;}
.m-menu a { display: inline-block; width: 100px; height: 35px; line-height: 35px; text-align: center; text-decoration: none; color: #fff;}
.m-menu .active,.m-menu .active:hover { background-color: #046c97;  background-color: #fff; color: #666666;}
.m-menu a:hover { background-color: #147da9; border-color: #147da9; color: #fff;}


ul.form-control { height: auto; border: none; box-shadow: none;}
.form-control li { padding: 10px 0;}
.form-control .txt-label { display: inline-block; width: 150px; text-align: right;}
.form-control .min-txt-label { display: inline-block; width: 100px; text-align: right;}
.form-control .txt { padding: 0 6px; width: 270px; height: 28px; line-height: 28px; border: 1px #e6e3e3 solid;}
.form-control .btns { padding-left: 153px;}
.form-control label.error, .form-horizontal label.error { padding-left: 18px;font-size: 12px; padding-bottom: 0;}
.form-control select.txt { width: 282px;}
.form-control .min-txt { width: 100px;}
.form-control select.min-txt { width: 112px;}
.form-control textarea { padding: 0 6px; line-height: 18px; border: 1px #e6e3e3 solid; vertical-align: top;}

ul.form-control .control-text { display: block; padding-top: 8px;}
.control-link { display: inline-block; margin-top: 8px;}


.view-box { margin-top: 18px; border: 1px #e9e9e9 solid; overflow: hidden;}
.view-box .view-title { padding-left: 15px; height: 40px; line-height: 40px; background-color: #fafafa; font-size: 14px;}
.col-md-2, .col-md-3, .col-md-6 { float: left; display: inline; padding: 5px 0 5px 1%; width: 31%;}
.col-md-6 { width: 63%;}
.col-md-2 { width: 25%;}
.view-box .col-md-2, .view-box .col-md-3, .view-box .col-md-6 { line-height: 28px; font-size: 14px; color: #999;}
.view-box-btns { padding: 20px 1%;}

.license-pic { display: inline-block; width: 200px; border: 2px #fafafa solid;}
.view-box .license-pic { display: block;}

.table-simple {}
.table-simple th { padding: 0 10px; border-top: 1px #f1f1f1 solid; border-bottom: 2px #f1f1f1 solid; height: 30px; line-height: 30px;}
.table-simple tr:nth-child(odd) td { background-color: #f9f9f9;}
.table-simple td { border-bottom: 1px #f1f1f1 solid; line-height: 24px; padding: 6px 4px;}
.table-simple th,.table-simple td { text-align: center; vertical-align: middle;word-break: break-all;}
/*.table-simple tr:hover td { background-color: #edfaff;}*/
.table-scroll th,.table-scroll td { white-space:nowrap;}
.table-scroll-wrap { width: 100%; overflow: auto;}
.table-border, .table-border td { border: 1px #f1f1f1 solid; border-collapse: collapse;}
.table-scroll .fix-width {  white-space:normal;}

.fenye { padding: 20px 20px 20px 0; text-align: right; line-height: 22px;}
.fenye a { display: inline-block; margin: 0 3px; padding: 0 8px; border: 1px #e8e8e8 solid; color: #666; text-decoration: none;}
.fenye .active a,.fenye a:hover { background-color: #046c97; border-color: #046c97; color: #fff;}
.fenye .btn { vertical-align: middle;}

.dialog .btns { padding: 20px 0;}
.dialog .btns .btn { margin: 0 10px; padding: 0 20px; height: 30px; line-height: 30px; background-color: #046c97;}
.confirm .dialog-content,.alert .dialog-content { padding: 30px 0 10px 0; color: #666; font-size: 14px;}

.ui-warn { color: #f60; border: 1px #f60 solid; margin: 20px; padding: 20px; line-height: 30px; font-size: 14px; background-color: #fff8cc;}

.info-box { padding: 20px 0; font-size: 14px; text-align: center; color: #888;}.info-box a { color: #5ac4f1;}
.info-box h3 { font-weight: bold; color: #333;}
.info-box-content { display: inline-block; vertical-align: middle; padding: 0 0 0 15px;}
.success-icon,.warn-icon { display: inline-block; width: 60px; height: 60px; background: url("../images/success.jpg") no-repeat; vertical-align: middle;}
.warn-icon { background: url("../images/warn.jpg") no-repeat;}

.art-view-title { text-align: center; margin: 0 20px 20px; padding-bottom: 10px; border-bottom: 1px #ddd solid; font-size: 16px; font-weight: bold;}
.art-view-content { margin: 0 20px 20px; line-height: 1.2;}
.art-view-content p { padding-bottom: 15px;}

.backcomp_d {}

.backcomp_d dt,.backcomp .reputh { margin-bottom: 10px; padding: 20px 0 6px; border-bottom: 1px #ddd solid; font-weight: bold; font-size: 14px;}
.backcomp_d li { display: inline-block; width: 30%;}
.compgoods_table td { vertical-align: middle;}
.comp_question { padding: 10px 0;}

.comp_box_proces li { display: inline-block; padding: 6px 10px; border: 1px #ddd dashed; font-size: 14px; margin: 6px 10px 10px 0; color: #ddd;}
.comp_box_proces li.this { color: #f60; font-weight: bold;}

.tree_table .default_node, .tree_table .default_active_node { vertical-align: text-bottom;}

.fenye li { display: inline-block;}
.fenye input { padding: 5px 5px; height: 24px;border: 1px #e8e8e8 solid; width: 30px; background-color: #f8f8f8; text-align: center;}

.row-padding label.col-md-4 { padding-left: 0; padding-right: 0;}
.row-padding { padding: 10px 0;}

.server-user-list li {
	float: left;
	width: 20%;
	padding: 0 10px 10px 0;
}
.server-user-list a {
	position: relative;
	display: block;
	border: 1px #eee solid;
	padding: 10px;
	overflow: hidden;
	color: #888;
}
.server-user-list a:hover { text-decoration: none;}
.server-user-list .pic {
	float: left;
	width: 60px;
}
.server-user-list .cont {
	margin-left: 70px;
}
.server-user-list .tips { position: absolute; padding: 2px 4px; top: 0; right: 0; background-color: #c0c0c0; color: #fff;}
.server-user-list .tips.c-green { background-color: #17aaff;}
.server-user-list .name { font-size: 14px; color: #333; padding-bottom: 4px;}
.server-user-list .addr { height: 32px; overflow: hidden; }

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('glyphicons-halflings-regular.eot');
  src: url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),url('glyphicons-halflings-regular.ttf') format('truetype');
}

/*-----jBox fixed------*/
.jbox-title-panel, .jbox-button-panel { box-sizing: content-box;}


/*_________________________________page css________________________________________________*/
.nav-tabs { position: static;}


.row .col-md-2 { width: 16.66%; padding: 0 15px;}
.row .col-md-3 { width: 25%; padding: 0 15px;}
.row .col-md-6 { width: 50%; padding: 0 15px;}

.select-user-box {}
.static-search-box { position: relative; padding: 12px; border: 1px #eee solid;}
.static-search-box .ico-search { margin: 7px 0 0 9px;}
.static-search-box .inp-text { padding: 6px 6px 6px 30px; border: 1px #eee solid; border-radius: 3px; display: block; width: 100%;}
.select-user-list { max-height: 300px; overflow: auto;}
.select-user-list li { padding: 8px; border: 1px #eee solid; border-top: none;}
.select-user-list img { float: left; width: 42px; height: 42px; border-radius: 50%;}
.select-user-list .cont {
    padding: 0 0 0 50px;
}
.tabs-line-black { margin-bottom: 18px;}

.select-user-list li { cursor: pointer; overflow: hidden;}
.select-user-list .name { padding-top: 4px; font-size: 14px;}
.select-user-list .tel { color: #999;}
.select-user-list .selected { background-color: #f8f8f8;}
.ico-search { position: absolute; width: 16px; height: 16px; background: url("../images/add_msg.png") no-repeat 0 -55px;}

.add-msg-box { border: 1px #eee solid;}
.add-msg-action { position: relative; display: inline-block; margin: 30px 0 30px 2.6%; width: 46%; border: 1px #e9e9e9 dashed; padding: 2px;}
.add-msg-action a { display: block; padding: 50px 0; background-color: #f9f9f9; text-align: center; font-size: 14px; color: #999;}
.ico-msg-plus { margin-bottom: 15px; display: inline-block; width: 97px; height: 97px; background: url("../images/add_msg.png") no-repeat -40px 0;}
.add-msg-foot { padding: 10px; border: 1px #e3e3e3 solid; border-top: none; overflow: hidden;}
.add-msg-action .remove { position: absolute; right: 0; bottom: 0; padding: 10px 20px;}

.add-msg-action .title { padding: 6px 10px;}
.add-msg-action {}

.release-msg { float: right;}
.release-msg .txt {
    height: 26px;
    line-height: 26px;
    padding: 0 5px;
    width: 90px;
    display: none;
}
.set-time-send { margin-right: 12px; padding-right: 10px; border-right: 1px #e9e9e9 solid;}

.selected-receiver { margin-right: 280px; background-color: #fff; position: relative;}
.selected-all { position: absolute;}

.selected-receiver span,.selected-receiver a { cursor: pointer; display: inline-block; line-height: 28px; padding: 0 8px; border: 1px #e4e4e4 solid; background-color: #eaeaea; border-radius: 4px;}

.selected-receiver a { background-color: #3b3a48; border-color: #3b3a48; color: #fff; text-decoration: none;}
.selected-receiver div { display: inline-block; position: relative; width: 96px; height: 94px;}
.selected-receiver div img { width: 60px;}
.selected-receiver div p { width: 96px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.selected-receiver .glyphicon { position: absolute; cursor: pointer; font-size: 24px; left: 55px; top: -5px; color: #999;}

.add-msg-textarea { padding: 30px;}
.add-msg-textarea textarea { display: block; box-sizing: border-box; border: 1px #e3e3e3 solid; width: 100%; height: 200px;}

.select-cover-list { }
.select-cover-list li {
    position: relative;
    float: left;
    margin: 10px 0 0 10px;
    border: 3px #fff solid;
}
.select-cover-list p { position: absolute; left: 0; bottom: 0; width: 100%; background-color: #446; background-color: rgba(0,0,0,0.7); color: #fff; text-align: center; padding: 0 10px; height: 30px; line-height: 30px; overflow: hidden;}

.select-cover-list .selected {
    border: 3px #53b0ea solid;
}
.select-cover-list .selected img {
    box-sizing:border-box;
}
.select-cover-list .cover {width: 250px; height: 139px; overflow: hidden;}

.select-cover-list .selected .ico-sel-arrow {
    position: absolute;
    right: -8px;
    bottom: -8px;
    width: 34px;
    height: 34px;
    background: url("../images/add_msg.png") no-repeat 0 -19px;
}
.dialog-search-box { border-width: 0 0 1px 0;}
.dialog-search-box .inp-text {
    display: inline-block;
    width: 200px;
}
.select-cover-box {
    padding: 5px 15px 0 15px;
}

.table { border-collapse: collapse;}

.select2-hidden-accessible { display: none;}

.popover-content-subBox { width: 340px;}
.popover { max-width: 450px;}
.popover-content .btn-mini { padding: 0 10px; height: 32px; line-height: 32px;}
.sku-group-title .btn { color: #444;}

.label-list {}
.label-list span { position: relative; display: inline-block;  border: 1px #ccc solid; padding: 4px 12px; border-radius: 3px; color: #666;}
.label-list .remove,.view-pic-list .remove { display: none; position: absolute; top: -4px; right: -4px; background-color: #999; color: #fff; font-style:normal; width: 14px; height: 14px; line-height: 14px; text-align: center; border-radius: 50%; cursor: pointer;}
.label-list span:hover .remove,.view-pic-list .item:hover .remove { display: block;}
.form-tips{ padding-top: 6px; font-size: 12px; color: #999;}

.view-pic-list { }
.view-pic-list .item { display: inline-block; margin: 6px 6px 0 0; width: 120px; height: 120px; position: relative;}
.view-pic-list .item img { width: 120px; height: 120px;}


/*商品分类*/

.classtable {
    width:100%;
    margin-left:20px;
    padding-top:20px;
}
.class_table {
    width:100%;
    border-bottom:2px solid #DDDDDD;
    border-collapse:collapse;
}
.class_table td {
    border-bottom:1px solid #EEEEEE;
    padding-left:10px;
}
.class_table tr {
    height:50px;
}
.num input {
    height:22px;
    line-height:22px;
    padding-left:5px;
    border:1px solid #ccc;
    width:60px;
}
.classall {
    width:40px;
    margin-top:8px;
}
.sall span {
    float:left;
    display:block;
}
#alldel {
    width:62px;
}
.classies input {
    width:250px;
    height:22px;
    line-height:22px;
    padding-left:5px;
    border:1px solid #ccc;
}
.newclass a {
    color:#333;
}
.newclass a:hover{
    color:#999;
}
.addclass { width:520px; float:left}
.addclass li {
    float:left;
}
.addclass .ac1 {
    width:30px;
}
.addclass .ac2 {
    width:65px;
}
.addclass .ac3 {
    width:350px;
    text-align:left;
    padding-left:10px;
}

.addclass .acc1 {
    width:30px;
    margin-left:30px;
}
.addclass .acc3 {
    width:380px;
    text-align:left;
    padding-left:10px;
}
.addclass .accc1 {
    width:30px;
    margin-left:60px;
}
.addclass .accc3 {
    width:350px;
    text-align:left;
    padding-left:10px;
}
.ac1 img, .acc1 img, .accc1 img {
    margin-top:7px;
}
.editul ul li .type_brand { width:110px; overflow:hidden; float:left; margin-right:5px;}
.editul ul li .type_brand input { float:left; margin-top:10px; margin-right:3px;}
.editul ul li .type_brand b { width:90px;white-space:nowrap;text-overflow:ellipsis; overflow:hidden; float:left;}

.order-man-bind-main { border: 1px #eee solid; padding: 20px; overflow: hidden;}
.order-man-bind-main .pic {
	float: left;
	width: 80px;
	height: 80px;
}
.order-man-bind-main .cont {
	margin-left: 95px;
}
.order-man-bind-main .title { font-size: 20px; padding-bottom: 10px;}
.order-man-bind-main .price { color:#f00; font-size:16px;}
.order-man-bind-btns { padding: 10px 0;}
.order-man-bind-selected { padding-top: 10px; border-top: 1px #ddd solid; }

body.t-bg { background: transparent;}
body.sub-page { padding: 0; background: transparent;}
.inline-box-form .control-label { padding-top: 7px;}

form.pb-30 {padding-left: 20px;}
form.form-control { height: auto; border: none; box-shadow: none;}
.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th { border-left: none; border-right: none;}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th { vertical-align: middle; word-break: break-all;}
.title-simple { line-height: 36px; margin-bottom: 20px; padding-left: 20px; border-bottom: 1px #eee solid; background-color: #fff; border-radius: 5px 5px 0 0}


/*----------------cert service-----------------*/
.cert-box { margin: 0 auto; width: 882px;}
.cert-step .item { margin: 40px 0; height: 67px; background: url("../images/certificate-progress.png") no-repeat;}
.cert-step .active-02 { background-position: 0 -69px;}
.cert-step .active-03 { background-position: 0 -138px;}
.cert-form { border: 1px #eee solid; padding: 20px 0 40px;}
.reg-btn-bar { margin: 40px auto 0; border-top: 1px #eee solid;}

.cert-upload-form { padding: 0 100px;}
.cert-upload-form .title { font-size: 16px; color: #000; display: block; padding: 20px 0 10px;}
.cert-upload-form .help-block { font-size: 14px; color: #9f9f9f;}
.cert-pic-example { margin-right: 60px; background-color: #f3f4f6; width: 300px; height: 174px; text-align: center; padding-top: 25px; float: right;}
.cert-pic-example p { font-size: 14px; color: #666; padding-top: 20px;}
.cert-upload-form .btn-file-box { margin: 10px 0 10px 90px;}
.cert-upload-form .view-pic img { width: 300px; height: 174px;}
.cert-upload-form .view-pic .cert-pic-example img { width: auto; height: auto;}

.result-msg { padding: 60px 0; text-align: center; line-height: 1.6;}
.result-title { font-size: 20px; color: #000; padding: 30px 0 10px;}
.result-text { color: #999; font-size: 14px;}

/*-----------------bind WX---------------------------*/
.bind-wx-step { margin: 50px auto 0; width: 1200px;}
.bind-wx-step .item {  height: 47px;  background: url("../images/cert-wx-progress.png") no-repeat;}
.bind-wx-step .active-02 {background-position: 0 -49px;}
.bind-wx-step .active-03 {background-position: 0 -98px;}
.bind-wx-step .active-04 {background-position: 0 -147px;}
.bind-wx-info {text-align: center;}
.bind-wx-info h2.title { font-size: 28px; color: #000; padding: 60px 0 30px 0;}
.bind-wx-info-text { font-size: 14px; line-height: 1.8; padding: 60px 40px 100px;}
.bind-wx-set-menu {padding: 0 40px;}
.bind-wx-set-menu .bg-info { line-height: 2; padding: 8px 15px; border: 1px #07b2f3 solid; border-radius: 6px;}
.bind-wx-tree { margin: 40px 0; border: 1px #eee solid;}
.bind-wx-tree li.level0 { background-color: #f5f5f5;}
.bind-wx-tree .ztree li ul.level0 { background-color: #fff;}

.mod-block-gray,.mod-block-line { background-color: #f1f2f7; margin: 20px; padding: 5px 10px; line-height: 2; border-radius: 6px;}
.mod-block-line { border: 1px #eee solid; background-color: #fff;}
.mod-pay-box {  margin: 20px; border: 1px #eee solid; border-radius: 6px;}
.mod-pay-title { line-height: 40px; padding: 5px 0 0 15px; border-bottom: 1px #eee solid; font-size: 16px;}

.tooltip-inner { background-color: #fff; color: #879096; box-shadow: 0 0 2px #999;}
.tooltip.top .tooltip-arrow { border-top-color: #fff;}
.black_overlay {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #a8a8a8;
    z-index: 999;
    -moz-opacity: 0.7;
    opacity: 0.7;
    filter: alpha(opacity=50);
}
.white_content {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -90px 0 0 -180px;
    z-index: 1000;
    background-color: #fff;
    border: 5px #eee solid;
    border-radius: 8px;
    padding: 20px;
}


.result-msg-tips { padding: 8px; background-color: #edfed0; color: #82867c; border: 1px #daecba solid; line-height: 24px; width: 65%; margin: 0 auto;}
.result-msg-tips i { margin-right: 6px; font-size: 18px; vertical-align: text-bottom;}
.result-msg-warn { width: auto; background-color: #fff0cc; color: #82867c; border-color: #efd28d;}
.result-msg-warn-msg { width: auto; background-color: #ffc437; color: #82867c; border-color: #efd28d;}
.result-msg-tips i { color: #b4a379;}
.result-msg-fixed { position: fixed; left: 180px; top: 60px; right: 0; z-index: 3;}

.pay-wx-box { position: relative; padding: 15px; text-align: center;}
.pay-wx-box h2 { font-size: 18px; padding-bottom: 10px;}
.pay-wx-code img { padding: 5px; border: 1px #eee solid; margin-bottom: 10px; width: 200px; height: 200px;}
.pay-wx-pic { position: absolute; right: -330px; top: -70px;}

div.jbox .jbox-title-panel { border-color: #17aaff; background-color: #17aaff;}
div.jbox .jbox-title { color: #fff;}
div.jbox .jbox-container { border-color: #17aaff;}
#payWxBox .jbox-content,#relDialog .jbox-content { overflow: visible !important; z-index: 1;}
#payWxBox .jbox { margin-left: -150px;}


.pro-ver { padding: 42px 0 10px; text-align: center;}
.pro-ver .item {}
.pro-ver .ver-01,.pro-ver .ver-02,.pro-ver .ver-03 { padding: 42px 0 10px; height: 500px; background-color: #6bd7ff; border-radius: 8px; color: #fff;}
.pro-ver .ver-02 { padding: 42px 0 10px; background-color: #8cdaad;}
.pro-ver .ver-03 { padding: 42px 0 10px; background-color: #ff9586;}
.pro-ver .title { padding-top: 20px; font-size: 28px;}
.pro-ver .price { font-size: 34px;}
.pro-ver .cont {}
.pro-ver .ver-btn { background-color: #fff; font-size: 16px; margin-top: 35px; color: #6bd7ff;}
.pro-ver .ver-02 .ver-btn { color: #8cdaad;}

.my-wallet-icon { float: left; width: 60px; height: 60px; margin-right: 10px; background: url("../images/icon-my-wallet.png") no-repeat;}
.my-wallet-02 .my-wallet-icon { background-position: 0 -62px;}
.my-wallet-03 .my-wallet-icon { background-position: 0 -124px;}
.my-wallet-01 a,.my-wallet-02 a,.my-wallet-03 a { color: #fff; font-size: 16px;}
.my-wallet-01,.my-wallet-02,.my-wallet-03 { overflow: hidden; padding: 15px; color: #fff; background-color: #ffbc5c; border-radius: 8px; font-size: 14px; line-height: 1.5;}
.my-wallet-02 { background-color: #5cc0ff;}
.my-wallet-03 { background-color: #ff825c;}

.msg-content-item { padding-bottom: 10px;}
.msg-content-item .title { padding-bottom: 4px; color: #029b26;}
.msg-content-item img { max-width: 360px;}
.msg-content-item {}


/**-----------------------------------------------------------**/
.msg-center-list {
    color: #888;
}
.msg-center-title { font-size: 14px; line-height: 46px; border: 1px #f8ecca solid; background-color: #fffcf2; text-align: center;}

.msg-center-list ul { overflow: hidden; padding: 20px 25px 0; border: 1px #f0f0f0 solid; border-top: none;}
.msg-center-list li { margin-bottom: 20px; padding: 14px 10px; background-color: #f3f3f3;}

.msg-center-list span { display: inline-block; width: 46px;}
.msg-center-list img { display: inline-block; vertical-align: middle;}
.msg-center-list .date { float: left; width: 180px;}
.msg-center-list .cont { margin: 0 80px 0 180px;}
.msg-center-list a { float: right;}

.dis-star {
    display: inline-block;
    width: 100px;
    vertical-align: middle;
    background-color: #f00;
    background: url("../images/star.png") no-repeat;
    background-size: auto 300%;
}
.dis-star i {
    display: block;
    width: 0;
    height: 19px;
    background-color: #0f0;
    background: url("../images/star.png") left bottom no-repeat;
    background-size: auto 300%;
}
.user-info-pic { border: 1px #07b2f3 solid; border-radius: 50%; width: 60px; height: 60px;}
.skills-labels label { margin: 5px 10px 10px 0; color: #fff; background-color: #78cd51; line-height: 1.5; padding: 5px 10px; font-size: 14px; border-radius: 6px;}

