<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vc.thinker.cabbage.sys.mapper.PromotionMapper">
  <resultMap id="BaseResultMap" type="vc.thinker.cabbage.sys.model.Promotion">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="pro_name" jdbcType="VARCHAR" property="proName" />
    <result column="begin_date" jdbcType="DATE" property="beginDate" />
    <result column="end_date" jdbcType="DATE" property="endDate" />
    <result column="area_id" jdbcType="VARCHAR" property="areaId" />
    <result column="pro_type_id" jdbcType="BIGINT" property="proTypeId" />
    <result column="coupon_id" jdbcType="BIGINT" property="couponId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="pro_type_code" jdbcType="VARCHAR" property="proTypeCode" />
    <result column="all_country" jdbcType="BIT" property="allCountry" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="BOResultMap" type="vc.thinker.cabbage.sys.bo.PromotionBO">
  		<result column="amount" jdbcType="BIGINT" property="amount" />
  		<result column="day_limit" jdbcType="DECIMAL" property="dayLimit" />
  		<result column="proTypeName" jdbcType="VARCHAR" property="proTypeName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, pro_name, begin_date, end_date, area_id, pro_type_id, coupon_id, create_time, 
    create_by, is_deleted, pro_type_code, all_country
  </sql>
  <select id="findPromotionPage" resultMap="BOResultMap">
    select
      p.*, c.amount, c.day_limit, t.type_name proTypeName,c.currency
    from sys_promotion p, sys_coupon c, sys_promotion_type t 
    where p.coupon_id = c.id and p.is_deleted=0 and c.is_deleted=0
    and p.pro_type_id = t.id
    order by p.create_time desc
  </select>
  <select id="selectByExample" parameterType="vc.thinker.cabbage.sys.model.PromotionExample" resultMap="BOResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_promotion
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      limit ${limit}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BOResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_promotion
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_promotion
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="vc.thinker.cabbage.sys.model.PromotionExample">
    delete from sys_promotion
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="id" parameterType="vc.thinker.cabbage.sys.model.Promotion" useGeneratedKeys="true">
    insert into sys_promotion (id, pro_name, begin_date, 
      end_date, area_id, pro_type_id, 
      coupon_id, create_time, create_by, 
      is_deleted, pro_type_code, all_country
      )
    values (#{id,jdbcType=BIGINT}, #{proName,jdbcType=VARCHAR}, #{beginDate,jdbcType=DATE}, 
      #{endDate,jdbcType=DATE}, #{areaId,jdbcType=VARCHAR}, #{proTypeId,jdbcType=BIGINT}, 
      #{couponId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=BIGINT}, 
      #{isDeleted,jdbcType=BIT}, #{proTypeCode,jdbcType=VARCHAR}, #{allCountry,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="vc.thinker.cabbage.sys.model.Promotion" useGeneratedKeys="true">
    insert into sys_promotion
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="proName != null">
        pro_name,
      </if>
      <if test="beginDate != null">
        begin_date,
      </if>
      <if test="endDate != null">
        end_date,
      </if>
      <if test="areaId != null">
        area_id,
      </if>
      <if test="proTypeId != null">
        pro_type_id,
      </if>
      <if test="couponId != null">
        coupon_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="proTypeCode != null">
        pro_type_code,
      </if>
      <if test="allCountry != null">
        all_country,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="proName != null">
        #{proName,jdbcType=VARCHAR},
      </if>
      <if test="beginDate != null">
        #{beginDate,jdbcType=DATE},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=DATE},
      </if>
      <if test="areaId != null">
        #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="proTypeId != null">
        #{proTypeId,jdbcType=BIGINT},
      </if>
      <if test="couponId != null">
        #{couponId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="proTypeCode != null">
        #{proTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="allCountry != null">
        #{allCountry,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="vc.thinker.cabbage.sys.model.PromotionExample" resultType="java.lang.Integer">
    select count(*) from sys_promotion
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_promotion
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.proName != null">
        pro_name = #{record.proName,jdbcType=VARCHAR},
      </if>
      <if test="record.beginDate != null">
        begin_date = #{record.beginDate,jdbcType=DATE},
      </if>
      <if test="record.endDate != null">
        end_date = #{record.endDate,jdbcType=DATE},
      </if>
      <if test="record.areaId != null">
        area_id = #{record.areaId,jdbcType=VARCHAR},
      </if>
      <if test="record.proTypeId != null">
        pro_type_id = #{record.proTypeId,jdbcType=BIGINT},
      </if>
      <if test="record.couponId != null">
        coupon_id = #{record.couponId,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=BIGINT},
      </if>
      <if test="record.isDeleted != null">
        is_deleted = #{record.isDeleted,jdbcType=BIT},
      </if>
      <if test="record.proTypeCode != null">
        pro_type_code = #{record.proTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.allCountry != null">
        all_country = #{record.allCountry,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_promotion
    set id = #{record.id,jdbcType=BIGINT},
      pro_name = #{record.proName,jdbcType=VARCHAR},
      begin_date = #{record.beginDate,jdbcType=DATE},
      end_date = #{record.endDate,jdbcType=DATE},
      area_id = #{record.areaId,jdbcType=VARCHAR},
      pro_type_id = #{record.proTypeId,jdbcType=BIGINT},
      coupon_id = #{record.couponId,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=BIGINT},
      is_deleted = #{record.isDeleted,jdbcType=BIT},
      pro_type_code = #{record.proTypeCode,jdbcType=VARCHAR},
      all_country = #{record.allCountry,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="vc.thinker.cabbage.sys.model.Promotion">
    update sys_promotion
    <set>
      <if test="proName != null">
        pro_name = #{proName,jdbcType=VARCHAR},
      </if>
      <if test="beginDate != null">
        begin_date = #{beginDate,jdbcType=DATE},
      </if>
      <if test="endDate != null">
        end_date = #{endDate,jdbcType=DATE},
      </if>
      <if test="areaId != null">
        area_id = #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="proTypeId != null">
        pro_type_id = #{proTypeId,jdbcType=BIGINT},
      </if>
      <if test="couponId != null">
        coupon_id = #{couponId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="proTypeCode != null">
        pro_type_code = #{proTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="allCountry != null">
        all_country = #{allCountry,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="vc.thinker.cabbage.sys.model.Promotion">
    update sys_promotion
    set pro_name = #{proName,jdbcType=VARCHAR},
      begin_date = #{beginDate,jdbcType=DATE},
      end_date = #{endDate,jdbcType=DATE},
      area_id = #{areaId,jdbcType=VARCHAR},
      pro_type_id = #{proTypeId,jdbcType=BIGINT},
      coupon_id = #{couponId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=BIGINT},
      is_deleted = #{isDeleted,jdbcType=BIT},
      pro_type_code = #{proTypeCode,jdbcType=VARCHAR},
      all_country = #{allCountry,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>